@model NetAtlas.Models.Register

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Rejet";
}


<h3>Cliquer sur refuser pour rejeter cette demande d'inscription</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    <div>
        <a asp-action="Refuser" asp-route-id="@Model?.Id" class="btn btn-danger">Refuser</a> |
        <a asp-action="Index" class="btn btn-outline-info">Annuler</a>
    </div>
</div>
