@model NetAtlas.Models.Membre

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Delete";
}


<h3>Cliquer sur restaurer pour remettre le nombre d'avertissement à 0</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    <form asp-action="ValiderRes">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Restaurer" class="btn btn-success" /> |
        </form>
</div>
