@model IEnumerable<NetAtlas.Models.Publication>

@{
    Layout = "_LayoutModerateur";
}

<div class = "container">
    @if(ViewBag.ListPub is not null)
    {
      
   
        @foreach (var item in ViewBag.ListPub)
        {
            if(item["ressource"] is Lien)
            {
                <div>
                    <small>@item["publication"].IdMemdre a posté un lien le @item["publication"].DatePublication</small>
                    <h3>@item["ressource"].nomRessource</h3>
                    <a href='@item["ressource"]'>@item["ressource"].Url</a>
                </div>
                <p>
                    <a asp-action="Avertir" asp-route-id='@item["ressource"].Id'>
                        <input type="button" class="btn" value="Avertir"/>
                    </a> 
                </p>
            }
            if(item["ressource"] is Message)
            {
                <div>
                    <small>@item["publication"].IdMemdre a posté un message @item["publication"].DatePublication</small>
                    <h3>@item["ressource"].nomRessource</h3>
                    <p>@item["ressource"].contenu</p>
                </div>
            }
        }
    }
    else
    {
        <h3>Aucune publication présente</h3>
    }
</div>