@model IEnumerable<NetAtlas.Models.Publication>

@{
    Layout = "_LayoutModerateur";
}

<div class = "container">
    @if(ViewBag.ListPub!=null)
    {
      
   
        @foreach (var item in ViewBag.ListPub)
        {
            if(item["ressource"] is Lien)
            {
                <div>
                    <small>lien posté le @item["publication"].DatePublication</small>
                    <h3>@item["ressource"].nomRessource</h3>
                    <a href='@item["ressource"]'>@item["ressource"].Url</a>
                </div>
                <p>
                    <a asp-action="Avertir" asp-route-id='@item["ressource"].Id'>
                        <input type="button" class="btn" value="Avertir"/>
                    </a> 
                </p>
            }
            if(item["ressource"] is Message)
            {
                <div>
                    <small>Message posté le @item["publication"].DatePublication</small>
                    <h3>@item["ressource"].nomRessource</h3>
                    <p>@item["ressource"].contenu</p>
                </div>
                <p>
                    <a asp-controller="Moderateurs" asp-action="Avertir" asp-route-id='@item["ressource"].Id'>
                        <input type="button" class="btn" value="Avertir"/>
                    </a> 
                </p>
            }

            if(item["ressource"] is PhotoVideo && item["ressource"].TypeMedia==1)
            {
                <div class="container col-6 bg-light">
                    <small>Image posté le @item["publication"].DatePublication</small>
                    <h3>@item["ressource"].nomRessource</h3>
                    <img src='@item["ressource"].Chemin' alt='yfyu'/>
                </div>
            }
        }
    }
    else
    {
        <h3>Aucune publication présente</h3>
    }
</div>