@model IEnumerable<NetAtlas.Models.Message>

@{
    Layout = "_LayoutMembre";
}


@foreach (var item in Model) {
            
    <h3>@Html.DisplayFor(modelItem => item.Publication.Menber.Nom)  @Html.DisplayFor(modelItem => item.Publication.Menber.Prenom)</h3>
            <div class="container col-6 bg-light">
                 <h3>@Html.DisplayFor(modelItem => item.nomRessource)</h3>
                @Html.DisplayFor(modelItem => item.contenu)
                <p style="font-size:10px">
                le
                @Html.DisplayFor(modelItem => item.Publication.DatePublication)
                </p>
 
                <p>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <input class="btn" type='button' value='Avertir'>
                    </a>
                </p>
            </div>
            
        
}
