@model IEnumerable<NetAtlas.Models.Publication>

@{
    Layout = "_LayoutMembre";
}

<div class = "container">
    @if(ViewBag.ListPub is not null)
    {
        
   
        @foreach (var item in ViewBag.ListPub)
        {
            if(item["ressource"] is Lien)
            {
                <div class="container col-6 bg-light">
                    <small> <b>@item["publication"].Menber.Nom @item["publication"].Menber.Prenom</b> a posté un lien le @item["publication"].DatePublication</small>
                    <h3>@item["ressource"].nomRessource</h3>
                    <a href="@item["ressource"].Url">@item["ressource"].Url</a>
                </div>
                <br/>
            }
            else if(item["ressource"] is Message)
            {
                <div class="container col-6 bg-light">
                    <small><b>@item["publication"].Menber.Nom @item["publication"].Menber.Prenom</b> a posté un message @item["publication"].DatePublication</small>
                    <h3>@item["ressource"].nomRessource</h3>
                    <p>@item["ressource"].contenu</p>
                </div>
                <br/>
            }

            else if(item["ressource"] is PhotoVideo && item["ressource"].TypeMedia==1)
            {
                <div class="container col-6 bg-light">
                    <small><b>@item["publication"].Menber.Nom @item["publication"].Menber.Prenom</b> a posté un message @item["publication"].DatePublication</small>
                    <h3>@item["ressource"].nomRessource</h3>
                    <img src='@item["ressource"].Chemin'/>
                </div>
                <br/>
            }
            else if(item["ressource"] is PhotoVideo && item["ressource"].TypeMedia==2)
            {
                <div class="container col-6 bg-light">
                    <small><b>@item["publication"].Menber.Nom @item["publication"].Menber.Prenom</b> a posté une vidéo @item["publication"].DatePublication</small>
                    <h3>@item["ressource"].nomRessource</h3>
          
                    @*<iframe src='@item["ressource"].Chemin'> </iframe>*@

                    <video width="320" height="240" controls>
                      <source src='@item["ressource"].Chemin' type=video/mp4>
                    </video>
                </div>
                <br/>
            }
        }
    }
    else
    {
        <h3>Vous n'avez aucune publication. Faite vous des amis pour pouvoir en voir ou creez la votre!</h3>
    }
</div>