@model IEnumerable<NetAtlas.Models.Amitie>

@{
    ViewData["title"] = "Liste de vos amis";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th colspan=2>
                @Html.DisplayNameFor(model => model.Receiver)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.Nom)
            </td>

             <td>
                @Html.DisplayFor(modelItem => item.Receiver.Prenom)
            </td>
           
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Accepter l'invitation</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Refuser l'invitation</a>

            </td>
        </tr>
}
    </tbody>
</table>
